.githubListClass * {
    color: azure;
}

.githubListClass {
    padding: 5vh;
    list-style-type: none;
    width:100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    z-index: 12;
    background-color: azure;
}

.loaded {
    height: 50vh;
}

.unLoaded {
    height: 50vh;
}

.subject {
    font-size: 5vh;
}