



.githubListClass * {
    color: black;
}

.githubListClass {
    
    width:100%;
    display: inline;
    overflow: hidden;
    justify-content: space-between;
    height: 100vh;
    background-color: aliceblue;
}



.subject {
    
    font-size: 3vh;
    height: 10%;
    background-color: rgb(99, 101, 103);
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
}
.githubTable {
    height: 90%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: rgb(99, 101, 103);
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.githubTable *  {
    font-size: 2vh;
    background-color: rgb(201, 193, 193);
}

.githubTable * tr {
    border: 1px solid;
}

.githubTable * td {
    border: 1px solid;
}

.githubTable * th {
    border: 1px solid;
}

@media screen and (min-height: 100vw) {

    .subject {
        height: 20%;
    }
    .githubTable {
        height: 80%;
    }
    .githubTable *  {
        font-size: 1.3vh;
        
    }
}