


.navBarClass {
    background: #191919;
    list-style-type: none;
    height: 10vh;
    width:100%;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    overflow: hidden;
    justify-content: space-between;
    border-bottom: 0.1vh solid #000000;
    z-index: 12;
}



.navbarBrandClass {
    color: #d8330e;
    margin-left: none;
    font-size: 4vh;
    position: relative;
    left: -100px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    width:10%;
    cursor: pointer;
}

.navbarLinkClass {
    margin: 0;
    font-size: 3vh;
    justify-content: space-evenly;
    position: relative;
    resize: none;
    color: #999999;
    background: linear-gradient(to bottom, #222222 0%, #101010 100%);
    opacity: 90%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1vh;
    height: 100%;
    width: 100%;
    cursor: pointer;
}


.navbarIndividualLinkClass {
    resize: none;
    margin: 0;
    display:block;
    padding: 1vh;
  background-color: #070707;
    color: #ececec;
    text-align: center;
    border-style: outset solid #555;
    border-width: 1vh;

}




li a {
    display: block;
    resize: none;    

}

.navbarIndividualLinkClass:link {
    border-style: outset;
    text-decoration: none;
}
.navbarIndividualLinkClass:visited {
    border-style: outset;
    text-decoration: none;
}

.navbarIndividualLinkClass:hover {
    border-style: outset;
    background-color: #555;
    color: white;
}

.navbarIndividualLinkClass:active {
    border-style: inset;
    text-decoration: none;
}

