.projectSection{
    display: inline;
    justify-content: center;

}
.carousel-container {
    width:100%;
    position: relative;

}

.projectTextSection {
    width:100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;    
    grid-template-rows: 1fr;    
    
}
.carousel {
    overflow: hidden;
    height: 100%;
}

.inner {
    white-space: nowrap;
    transition: transform 0.8s;
}

.carousel-item {
    position: relative;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;  
    background: rgba(255, 122, 89, 0);
    color: #fff;
}
.indicators {
    display: flex;
    justify-content: center;
}
.indicators > button {
    padding: 1vw;
    width: 6vw;
    margin: 1vw;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 1vw;
    border-width: 0.3vw;
    border-color: antiquewhite;
    justify-content: space-evenly;
    font-size: 1.5vw;
}

.indicators > button.active {
    margin: 1vw;
    justify-content: space-evenly;
    background-color: rgb(193, 39, 25);
    color: #fff;
}



.fade-in{

    transition: opacity 1s ease;
    position: relative;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 1;
    overflow: hidden;
    border-radius: 3vh;
    background-color: rgb(41, 41, 41);
}
.fade-out {

    opacity: 0;
    position: relative;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 1;
    overflow: hidden;
    background-color: rgb(41, 41, 41);
    border-radius: 3vh;
}
.projectTextSection {
    width:100%;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgb(120, 119, 119);
    background-color: rgb(41, 41, 41);
    border-radius: 3vh;
    height: 30vh;
    overflow: hidden;
}
.projectName {
    height: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3vh;
    background-color: rgb(41, 41, 41);
    color: aliceblue;
    overflow: hidden;
}
.projectDescription {
    height: 80%;
    display: flex;
    font-size: 1vh;
    padding: 7%;
    background-color: rgb(41, 41, 41);
    color: aliceblue;
    overflow: hidden;
    
}
@media screen and (min-height: 100vw) {
    

    .projectSection{
        display: inline;
        justify-content: center;
    }
    .carousel-container {
        width:100%;
        position: relative;
    }
    .projectTextSection {
        width:100%;
        position: relative;
    }
    .indicators > button {
        text-align: center;
        align-items: center;
        width: 3vh;
        margin: 2vh;
        padding: 2vh;
        font-size: 1.5vh;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 1vh;
        border-width: 0.3vh;
        border-color: antiquewhite;
        display: flex;
        justify-content: space-evenly;
 
    }

    .indicators > button.active {
        display: flex;
        text-align: center;
        align-items: center;
        width: 3vh;
        padding: 2vh;
        margin: 2vh;
        padding: 2vw;
        color: rgb(255, 255, 255);
        border-radius: 1vh;
        border-width: 0.3vh;
        border-color: antiquewhite;
        background-color: rgb(193, 39, 25);
        

    }
    .projectDescription {
        height: 20vh;
        font-size:1.7vh;
        padding: 2vh;
        color: aliceblue;
    }
    
}

