.app {
    position:relative;
    top: 65px;
    text-align: center;
    background-color: #181818;
    width: 50vw;
    border-radius: 5vw;


}
.welcomeText {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    font-size: 1.5vh;
    width: 50%;
    padding-left: 10%;
    
}



.mobileFormatter {
    display:flex;
    background-color: rgb(14, 14, 14);
}
.mobileFormatter {
    display:flex;
    background-color: rgb(14, 14, 14);
}


.welcomeSection {
    padding-top: 10%;
    display: flex;

}

.fullBodyShot {
    width: 40%;
    height: 50%;
    padding-left: 10%;
}

.aboutmeSection {
    display: inline;
    
}

.aboutmeHeading {
    margin-top: 10vh;
    border-top: 2px solid #000000;
    display: flex;
    align-items: center;
    text-align: left;
    color: aliceblue;
    padding-left: 5%;
    font-size: 7vh;
    width: 100%;
}


.aboutmeBubble {
    border-radius: 5vh;
    border-width: 5vh;
    border-color: #000000;
    padding: 5vh;
}

.aboutmeBubble * {
    background-color: rgb(41, 41, 41);
}


.aboutmeTitle {
    display: flex;
    font-size: 4vh;
    color: azure;
    padding-left: 5%;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
}


.aboutmeTitleRight {
    display: flex;
    margin-top: 5%;
    font-size: 4vh;
    color: azure;
    padding-left: 50%;
}


.aboutmeTwoSubs {
    display: flex;
}
.aboutmeTwoSubsLast {
    display: flex;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
}
.aboutmeTwoSubsReverse {
    display: flex;
}



.aboutmeBody {
    padding-top: 5%;
    padding-left: 10%;
    padding-right:10%;
    display: flex;
    width:100%;
    font-size: 3vh;
    color: aliceblue;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    padding-bottom: 10%;
}


.aboutmeLongBody {
    padding-top: 5%;
    padding-left: 10%;
    padding-right:10%;
    display: flex;
    width:100%;
    font-size: 2.3vh;
    color: aliceblue;


}

.aboutmeSubSection {
    padding-top: 5%;
    padding-left: 10%;
    padding-right:10%;
    display: flex;
    width:100%;
    color: aliceblue;
    justify-content: space-between;
}

.aboutmeLastPadding {
    height:5vh;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
}

.aboutmeH3 {
    font-size: 2.3vh;
    width: 50%;
}
.aboutmeH3_2 {
    font-size: 1.5vh;
    
}

.educationSection {
    width:50%;
    display: inline;
}

.schoolImage {
    width: 50%;
    height: 20%;
    padding: 2vh;
}
.languageImage {
    width: 50%;
    height: 20%;
    padding: 2vh;
}

.carContainer {
    padding: 3vh;
}

.afterCar {
    border-bottom: 2px #000000;
}
.mobileSpacing {
    display: flex;
    width: calc(100vw - 100vh/1.5);
    height:100%;
}


.githubAPIList {
    height:50vh;
    background-color: aliceblue;
}

.contactSection {
    padding-top: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-right:10%;
    margin-bottom:20%;
    padding-bottom: 10%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: rgb(19, 19, 19);
}

.nameSection, .emailSection, .issueSection {
    display: flex;
    justify-content: center;
    margin-left: 37%;
    margin-right: 37%;
    background-color: rgb(30, 30, 30);
    background-clip: padding-box;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    flex-shrink: 1;
    text-size-adjust: auto;
    border-width: 5px;

}
.labels{
    background-color: rgb(30, 30, 30);
    background-clip: content-box;

}
.submitButton {

    padding: 1%;
    background-color: #000000;
    color: aliceblue;
    font-size: large;
    border-width: 5px;
    border-color: azure;
}
.placeHolder{
    width: 37%;
}
.nameInput, .contactInput, .issueText {
    background-color: rgb(30, 30, 30);
    border-width: 5px;
    padding: 5%;
}

.profileButton {

    padding: 1%;
    background-color: #000000;
    color: aliceblue;
    font-size: large;
    border-width: 5px;
    border-color: azure;
    margin: 10%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contactsSubSection {
    background-color: #202020;
    color: #202020;

    display: flex;
    width:100%;
    color: aliceblue;
    justify-content: space-between;
    height:50%;
    padding-top: 5vh;
}


.contactsSocialSection {
    background-color: #202020;
    color: #202020;
    display: flex;
    width:100%;
    color: aliceblue;
    justify-content: space-between;
    padding-top: 10vh;
}





.contactsHalf {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
    background-color: #202020;
}
.contactButtonSection {
    width: 50%;
    display:inline;
    
}

.fullDogShot {
    width: 40%;
    height: 50%;
    padding-left: 10%;

}


.githubList {
    height:30vh;
    padding: 3vh;
}

.linkedinLogo {
    width: min(10vh, 10vw);
    
}
.githubLogo {
    width: min(10vh, 10vw);
    background-color: white;

    border-radius: 5vh;
    
}
.linkedinButton {
    border-width: 0;
    outline: 0;
    background-color: #202020;
}
.githubButton {
    background-color: #202020;
    border-width: 0;
    outline: 0;
}
.githubLink {
    background-color: #202020;
    border-radius: 5vh;
    border-width: 0;
}
.linkedinLink {
    background-color: #202020;
    border-radius: 5vh;
    border-width: 0;
}
.contactH3 {
    font-size: 2vh;
    background-color: #202020;
    justify-content: center;
    margin-top: 2vh;
}

@media screen and (min-height: 100vw) {

    .app {
        width: 100vw;
    }
    
    .contactH3 {
        font-size: 1.3vh;
    }
    .aboutmeH3 {
        font-size: 1.2vh;
        width: 50%;
    }
    .aboutmeBody {
        font-size: 1.5vh;
    }
    .aboutmeH3_2 {
        font-size: 1vh;
        
    }
    
    .aboutmeLongBody {
        font-size: 1vh;
    }

}