.app {
    position:relative;
    top: 85px;
    text-align: center;
    background-color: #181818;
}
.welcomeText {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    font-size: 250%;
    width: 50%;
    padding-left: 10%;
}

@media screen and (min-width: 3000px) {
    .welcomeText {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: aliceblue;
        font-size: 900%;
        width: 50%;
        padding-left: 10%;
    }
}
@media screen and (min-width: 2000px) {
    .welcomeText {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: aliceblue;
        font-size: 700%;
        width: 50%;
        padding-left: 10%;
    }
}

@media screen and (max-width: 900px) {
    .welcomeText {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: aliceblue;
        font-size: 150%;
        width: 50%;
        padding-left: 10%;
    }
}

@media screen and (max-width: 700px) {
    .welcomeText {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: aliceblue;
        font-size: 100%;
        width: 50%;
        padding-left: 10%;
    }
}


.welcomeSection {
    padding-top: 10%;
    display: flex;
}

.fullBodyShot {
    width: 40%;
    height: 50%;
    padding-left: 10%;
}

.aboutmeSection {
    display: inline;
}

.aboutmeHeading {
    margin-top: 15%;

    display: flex;
    align-items: center;
    text-align: left;
    color: aliceblue;
    padding-left: 5%;
    font-size: 400%;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .aboutmeHeading {
        margin-top: 15%;
        display: flex;
        align-items: center;
        text-align: left;
        color: aliceblue;
        padding-left: 5%;
        font-size: 350%;
        width: 100%;
    }
    
}

@media screen and (max-width: 700px) {
    .aboutmeHeading {
        display: flex;
        align-items: center;
        text-align: left;
        color: aliceblue;
        font-size: 200%;
        width: 100%;
        padding-left: 5%;
    }
}
@media screen and (min-width: 2000px) {
    .aboutmeHeading {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: aliceblue;
        font-size: 800%;
        width: 50%;
        padding-left: 10%;
    }
}

@media screen and (min-width: 3000px) {
    .aboutmeHeading {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: aliceblue;
        font-size: 2500%;
        width: 50%;
        padding-left: 10%;
    }
}

.aboutmeTitle {
    display: flex;
    margin-top: 5%;
    font-size: 200%;
    color: azure;
    padding-left: 5%;
}

@media screen and (min-width: 2000px) {
    .aboutmeTitle {
        display: flex;
    margin-top: 5%;
    font-size: 500%;
    color: azure;
    padding-left: 5%;
    }
}
.aboutmeTitleRight {
    display: flex;
    margin-top: 5%;
    font-size: 200%;
    color: azure;
    padding-left: 55%;
}
@media screen and (min-width: 2000px) {
    .aboutmeTitleRight {
        display: flex;
    margin-top: 5%;
    font-size: 500%;
    color: azure;
    padding-left: 55%;
    }
}
@media screen and (max-width: 900px) {
    .aboutmeTitleRight {
        padding-left: 5%;
    }
    
}


.aboutmeTwoSubs {
    display: flex;
}
@media screen and (max-width: 900px) {
    .aboutmeTwoSubs {
        display: inline;
    }
    
}


.aboutmeBody {
    padding-top: 5%;
    padding-left: 10%;
    padding-right:5%;
    display: flex;
    width:100%;
    font-size: 140%;
    color: aliceblue;
}

.aboutmeSubSection {
    padding-top: 5%;
    padding-left: 10%;
    padding-right:5%;
    display: flex;
    width:100%;
    color: aliceblue;
    justify-content: space-between;
}

@media screen and (min-width: 2000px) {
    .aboutmeH3 {
        font-size: 300%;
    }
    .aboutmeBody {
        font-size: 300%;
    }
}

.educationSection {
    width:50%;
    display: inline;
}

.schoolImage {
    width: 50%;
    height: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:2%;
}
.languageImage {
    width: 45%;
    height: 20%;
    padding-left: 5%;
}
