.app {
    position:relative;
    top: 85px;
    text-align: center;
    background-color: #181818;
}
.welcomeText {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    font-size: 250%;
    width: 50%;
}
.welcomeSection {
    display: flex;
}

.aboutmeSection {
    display: inline;
}

.aboutmeHeading {
    margin-top: 15%;

    display: flex;
    align-items: center;
    text-align: center;
    color: aliceblue;
    padding-left: 5%;
    font-size: 400%;
    width: 100%;
}

.aboutmeTitle {
    display: flex;
    margin-top: 5%;
    font-size: 200%;
    color: azure;
    padding-left: 5%;
}

.aboutmeTwoSubs {
    display: flex;
}

.aboutmeBody {
    padding-top: 5%;
    padding-left: 10%;
    padding-right:5%;
    display: flex;
    width:100%;
    font-size: 140%;
    color: aliceblue;
}

.aboutmeSubSection {
    padding-top: 5%;
    padding-left: 10%;
    padding-right:5%;
    display: flex;
    width:100%;
    color: aliceblue;
    justify-content: space-between;
}

.educationSection {
    width:50%;
    display: inline;
}
