.App {
  position:relative;
  top: 10vh;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .App{
      list-style-type: none;
      height: 10vh;
      width:100%;
      margin: 0;
      padding: 0;
      display: flex;
      position: fixed;
      justify-content: space-between;
 
      z-index: 12;
  }
}



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
